.container {
    margin: auto;
    max-width: 700px;
    font-family: sans-serif;
  }

  .container {
    margin: auto;
    max-width: 700px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rgb(0, 0, 0);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .navLinkItem {
    padding-left: 2rem;
    width: 100%;
  }
  .navLinkText {
    color: black;
    width: 10%;
  }
  .footer {
    color: black;
    max-width: 700px;
  }

  .footerElements {
    align-items: center;
    color: rgb(0, 0, 0);
  }